.formContainer{
    background-image: url('https://res.cloudinary.com/dvkvyi1dr/image/upload/v1664145411/PI-FOOD/tartan-wooden-background_bjiv1h.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
    align-items: center;
    justify-content: center;
    contain:content;

}
.form{
padding: 2%;
display: grid;
grid-template-areas:
"header aside_Score  imageUploadArea"
"body_form body_form imageUploadArea"
"dietsArea dietsArea createButton";
grid-template-rows: 0.35fr 1fr 0.6fr; 
grid-template-columns:  1fr 1fr 1fr;
font-size: 1.2vw;

grid-column-gap: 30px;
text-transform: uppercase;

}
input{
    background-color: rgba(239, 236, 242, 0.526);
}

textarea{
    background-color: rgba(239, 236, 242, 0.526);
    border: solid black;
}

label{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    align-items: center;
    margin: 6px;
    
}

.error{
    margin-left: 15px;
    color: rgba(255, 0, 0, 0.743);
    font-size: 1vw;
    font-weight: 600;
    background-color: rgb(237, 215, 188);

}


div#header{
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.title{
    width: 80%;
    height: 2vw;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

div#aside_Score{
    grid-area:aside_Score;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
    margin-right: 20px;
}

.score{
    width: 20%;
    height: 50%;
    margin-right: 20px;
    margin-left: 10px;
    
    
}

div#body_form{
    grid-area: body_form;
    display: flex;
    flex-direction: column;
    height: auto;
}



div#imageUploadArea{
    grid-area: imageUploadArea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input#upload_widget{
    padding: 20px;
}

div#createButton{
    grid-area: createButton;
    display: flex;
    justify-content: center;
    align-content: center;
    height: fit-content;
}

div#dietsArea{
    grid-area: dietsArea;
    display: grid;
    grid-template-areas:
    "title title"
    "buttons buttons ";
    grid-template-rows: 0.2fr 1fr  ; 
    grid-template-columns: 2fr 1fr ; 
       grid-row-gap: 10px;
       grid-column-gap: 10px;
}

.textArea{
    width: 92%;
    height: 8vw;
    margin: 10px;
    align-items: center;
    justify-self:center;
}

.label#title{
    grid-area: title;
    margin: 5px;
}
div#buttons{
    padding-left: 5px;
    grid-area: buttons;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ; 
    grid-template-columns: 1fr 1fr 1fr; 
       /* grid-row-gap: 2px;
       grid-column-gap: 2px; */

}
.dietsButtons{
    padding: 3px;
    border: solid black;
    background-color: rgba(239, 236, 242, 0.526);
    width: 16vw;
    height: 2vw;
    text-align: center;
    font-size: 1.2vw;

}

.submitButton{
    margin-top: 30px;
    padding: 5px;
    border: solid black;
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.883);
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 3.5vw;
}

.boxImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 235, 215, 0.516);
    border: solid black;
    height: 250px;
    width: 250px;
    margin: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}