
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.containerLanding{
    margin:0%;
    background-image: url(https://res.cloudinary.com/dvkvyi1dr/image/upload/v1663620270/PI-FOOD/Landing_page_image2_zkviqw.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.titleLanding{
    font-family: 'Caveat', cursive;
    color: aliceblue;
    font-size: 3.5rem;
    margin-top: 10%;
}

.subtitleLanding{
    font-family: 'Caveat', cursive;
    color: aliceblue;
    font-size: 2.5rem;
}

.landignButton{
    font-size: 2em;
    border-radius: 5%;
    border:solid;
}

.sublandignButton{
    font-size: 1em;
    border-radius: 5%;
    border:solid;
    margin: 5px;
}

.buttonslanding{
    width: 50%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}