
.randomLoadingImage{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 250px;
    width: 350px;
}

.backRandomLoading{
    background-image:url(https://res.cloudinary.com/dvkvyi1dr/image/upload/v1663625355/PI-FOOD/Background-min_dpneso.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    contain: content;
    align-items: center;
    color: aliceblue;
    font-size: 1.2em;
    padding: 1% 0% ;
}
